* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    list-style: none;
    text-decoration: none;
}

body {
    cursor: url("../assets/img/cursor.svg") 12 12, auto;
    flex-direction: column;
    background: #f8faff;
}


body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 19px;
}

i {
    color: #000000;
}

.logo {
    width: 100px;
}


.float {
    display: flex;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    z-index: 1;

}


.botonfloat {
    margin-top: 6px;
    margin-left: 6px;
    position: absolute;
    z-index: 1;
}

.backfloat {
    position: absolute;
    z-index: 0;
    animation-name: backfloat;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes backfloat {
    0% {
        transform: rotate(0deg);
    }

    50% {}

    100% {
        transform: rotate(360deg);
    }
}

.menu {
    display: grid;
    align-items: center;

    grid-template-columns: 50% 50%;
    justify-content: end;

    padding-left: 5em;
    padding-right: 5em;
    width: 100%;
    background: #ffffff;
}

.listamenu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
}

.list {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: flex;
    list-style: none;
    float: left;
    gap: 1em;
    padding: 4px;
    height: 100%;
    align-items: center;
    flex-direction: row-reverse;
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    font-family: poppins;
}

.enlaseinactive {
    font-weight: 900;
    color: #000000;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
    cursor: url("../assets/img/ir.svg") 10 12, auto;

}

.enlaseavtive {
    font-weight: 900;
    font-size: 15px;
    color: #000000;
    border-bottom: 1px solid #000000;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
    cursor: url("../assets/img/ir.svg") 10 12, auto;

}

h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 58px;
    line-height: 87px;
    color: #000000;
    display: inline-block;
    position: relative;

}

.parrafo {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.gridbotones {
    display: flex;
    gap: 2em;
}

.bottoncontactame {
    padding-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contactame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 151px;
    height: 43px;
    background: #6B00D7;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    cursor: url("../assets/img/ir.svg") 8.5 12, auto;
}

.contactame__banner {
    display: flex;
    margin-bottom: 6em;
    margin-top: 3em;
    justify-content: center;
    align-items: center;
    width: 151px;
    height: 43px;
    background: #6B00D7;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    cursor: url("../assets/img/ir.svg") 8.5 12, auto;
}

.pedircv {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #000000;
    text-align: center;
}

.cancelar {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    gap: 10px;
    width: 151px;
    height: 43px;
    border: 1px solid #000000;
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    text-align: center;
}

.contactame__banner:hover {
    background: #020202;
    color: #ffffff;
}

.contactame:hover {
    background: #000000;
    color: #ffffff;
}

.botones2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
    gap: 10px;
    width: 239px;
    height: 63px;
    border-radius: 89px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #3D3D3D;
}

.conten2 {
    display: flex;
    flex-direction: column;

}

.imgpersona {
    width: 100%;
}

.home {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 5em;
    padding-right: 5em;
    background: #ffffff;

}

.home1 {
    width: 100%;
}

.conten1 {
    height: 100%;
}

.banner {
    width: 100%;
    opacity: '';
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 4 / 3;
}

.div2 {
    grid-area: 4 / 1 / 6 / 3;
}

.div3 {
    grid-area: 1 / 3 / 6 / 5;
}

.stars1 {
    position: absolute;
    z-index: 0;
    animation-name: backfloat;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.stars2 {
    top: 100px;
    right: 2em;
    height: 2em;
    position: absolute;
    z-index: 0;
    animation-name: backfloat;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

.stars2r {
    top: 100px;
    right: 2em;
    height: 2em;
    position: absolute;
    z-index: 0;
    animation-name: backfloat;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.stars3 {
    top: 45em;
    right: 2em;
    height: 1em;
    position: absolute;

    animation-name: backfloat;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

.stars4 {
    top: 19em;
    left: 3em;
    height: 4em;
    position: absolute;
    animation-name: backfloat;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

.banner1,
.banner2,
.banner3 {
    width: 100%;
    background: #ffffff00;
}

.banner1:hover {
    background: #FECF33;
}

.banner3:hover {
    background: #653bfd;
}

.banner2:hover {
    background: #009cb8;
}

.listchips {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.chips {
    display: flex;
    padding: 5px 5px;
    margin-right: 1em;
    margin-top: 1em;
    background: #F5F5F5;
    border-radius: 500px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    color: #000000;
}

.gridcontadores {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2em;
    gap: 30px;
}

.contproyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
    gap: 1px;
    display: inline-block;
    position: relative;
}

.cont1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    text-align: center;
}

.cont2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;

}

.contproyectos::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform: scale(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
}

.contproyectos:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.palabra1 {
    display: inline-block;
    position: relative;
}

.palabra1::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 8px;
    bottom: 0;
    left: 0;
    background-color: #b0da19;
    transform: scale(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
}

.palabra1:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hacer0 {
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 4em;

}

.hacer {
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 4em;
    background: #ffffff;
}


.hacer1 {
    gap: 20px;
    padding-bottom: 5em;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    padding-left: 5em;
    padding-right: 5em;
    background: #ffffff;

}

.hacer1-grid {

    display: grid;
    grid-template-columns: 50% 50%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 21.34%, #FFFFFF 21.35%, #FFFFFF 100%);
    border-radius: 10px;


}

.hacer1-cont1 {
    margin-top: 5em;
    padding-right: 5em;
    padding-left: 5em;
    display: flex;
    flex-direction: column;
    background: #ffffff;

}

.hacer1-titulo {
    margin-top: 1em;
    padding-left: 1em;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 135.5%;
    display: flex;
    color: #000000;

}

.hacer1-contenido {
    padding-left: 2em;
    padding-bottom: 1em;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #000000;
}

.hacer1-cont2 {
    display: flex;
    align-content: center;
    justify-content: center;
    background-image: url("../assets/img/backstrella.svg");
    background-repeat: no-repeat;
    background-position: 220px 0px;
}

.cabetitulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 1em;
}

.cabetitulo1 {
    display: grid;
    grid-template-columns: 30% 30% 39%;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 1em;
}

.subtituloitem {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.subtituloitem1 {
    display: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.subtituloitem2 {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}


.tituloitem {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;

}

.items {
    padding-top: 2em;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 5px;
}

.botonflacha1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    width: 40px;
    height: 40px;
    border: 1px solid #585858;
    border-radius: 100px;
}


.foto {
    width: 100%;
}

.item1,
.item2,
.item3,
.item4 {
    display: flex;
    flex-direction: column;
    background: #ffffff00;
    border: 0.1px solid #a1a1a1;
    border-radius: 5px;

}

.item1:hover,
.item2:hover,
.item3:hover,
.item4:hover {
    filter: invert(100%);
    background: #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    border: 0.5px solid #000000;
    bottom: 10px;
    cursor: url("../assets/img/CONTACTAME.svg") 12 12, auto;
}

.contcinta {

    height: auto;
    margin: auto;
    overflow: hidden;
}

.cinta1 {
    width: 2000px;
    height: 50px;
    background-image: url("../assets/img/cinta.svg");
    background-size: 100% 100%;
    animation: slider 30s infinite linear;
    background-repeat: repeat;
}

@keyframes slider {
    to {
        background-position: 2000px;
    }
}

.cinta2 {
    width: 2000px;
    height: 50px;
    background-image: url("../assets/img/cinta1.svg");
    background-size: 100% 100%;
    animation: 30s infinite linear;
    background-repeat: repeat;
    animation-name: pr;
}



.tituloc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    position: relative;
    color: #000000;
}

.titulo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    position: relative;
    padding-bottom: 20px;
    padding-top: 2em;
    color: #000000;
}

.titulo::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform: scale(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
}

.titulo.visible::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.cuerpotitulo::after {
    position: absolute;
    transition: .7s ease-in-out all;
    transform: scale(0.9) translateX(-200px);
    background: #009cb8;
}


.pie {
    display: flex;
    padding-top: 20em;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
}


footer {
    position: relative;
    margin-top: 10em;
    background: rgb(0, 0, 0);
    backdrop-filter: blur(20.5px);
    padding-left: 5em;
    padding-right: 5em;
}

.titulo2 {
    padding-top: 1em;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #000000;

}

.contenido2 {
    padding-top: 1em;
    font-family: 'Poppins';
    font-weight: 100;
    font-size: 14px;
    line-height: 21px;
    text-align: justify;

    color: #000000;
}

.subtitulo2 {
    padding-top: 1em;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.herramientas2 {
    background-color: #ffffff00;
    padding: 1em;
}
.cuerpopages{
    align-items: center;
    padding-left: 5em;
    padding-right: 5em;
}

.botonver {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    gap: 1px;
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
}

.cardproyectos {
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 200px;
    height: 100%;
    top: 1px;
    background: #ffffff;
    border: 1px solid #e4e4e4;
    border-radius: 5px
}

.img2{
    width: 100%;
}

.cardinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.gridproyectos {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    gap: 1em;


}

.titulocard {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    width: 100%;
    align-items: center;
    color: #3D3D3D;
}

.banner0 {
    margin-top: 5em;
    display: grid;
    padding-left: 5em;
    padding-right: 5em;
    grid-template-columns: 50% 50%;
    align-items: center;
    background-image: url("../assets/img/backprueba.svg");
    background-size: 200% 100%;
    animation: 60s infinite linear;
    background-repeat: repeat;
    animation-name: pr2;
}


.imgbanner {
    display: flex;
    margin-top: 5em;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.banner__banner {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 40px;
    line-height: 51px;
    display: flex;
    align-items: center;
    text-align: start;
    color: #000000;
}

.banner__banner_conten {
    padding-top: 1em;
    padding-right: 6em;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    text-align: start;
    color: #000000;

}


.botonver:hover {
    border: 2px solid #eeeeee;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.50);
}

.cardproyectos:hover {
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.50);
}

.bars__menu {

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;

}

.bars__menu span {
    display: block;
    width: 100%;
    height: 2px;
    background: #000000;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}


.activeline1__bars-menu {
    transform: rotate(45deg) translate(-2px, 1px);
}

.activeline2__bars-menu {
    opacity: 0;
    margin-left: -30px;
}

.activeline3__bars-menu {
    transform: rotate(-45deg) translate(-4px, 2px);
}




/* ##################### MEDIA ##############33333333    */



@media (max-width: 1120px) {
    .list {
        margin: 0;
        padding: 0;
    }

    h1 {
        font-weight: 900;
        font-size: 45px;
    }

    .titulo {
        padding-top: 2em;
    }

    .items {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .home,
    .menu,
    .hacer,
    .hacer1,
    .hacer0,
    footer {
        padding-left: 2em;
        padding-right: 2em;
    }

    .gridproyectos {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        gap: 1em;

    }

    .list li a {
        display: none;
    }

    .bars__menu {
        display: block;
    }

    .listamenu {
        height: 100%;
    }

    .home {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .home .home1:nth-of-type(1) {
        order: 2;
    }

    .banner {
        display: none;
    }

}

@media (max-width: 960px) {
    .hacer1-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .hacer1-grid .hacer1-cont1:nth-of-type(1) {
        order: 2;
    }

    .hacer1-grid {
        padding-top: 0;
        margin-left: 0;
        padding-left: 0;
    }

    .hacer1-cont1 {
        margin: 1em;
        padding: 1em;
        display: flex;
        flex-direction: column;
        background: #ffffff;

    }

    .hacer1-titulo {
        margin: 0;
        padding: 0;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 135.5%;
        display: flex;
        color: #000000;

    }

    .hacer1-contenido {
        margin: 0;
        padding: 0;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        color: #000000;
    }

    .items {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 30px;
    }


    #flecha,
    #flecha1,
    #flecha2,
    #flecha3 {
        transform: rotate(0deg);
        transition: transform 0.5s;
        transition-timing-function: cubic-bezier(0.01, 1.36, 1, 1.74);
    }

    .item1,
    .item2,
    .item3,
    .item4 {
        display: grid;
    }


    /* item1 */
    #item1.visible #flecha {
        transition: transform 1s;
        transition-timing-function: cubic-bezier(0.01, 1.36, 1, 1.74);
        transform: rotate(35deg);
        background: #ffffff;

    }

    #item1.visible {
        background: #ffffff;

        border: 0.5px solid #000000;
    }

    #item1.visible #flechaline {
        filter: invert(0%);
        color: #ffffff;

    }

    /* item2 */
    #item2.visible #flecha1 {
        transition: transform 1s;
        transition-timing-function: cubic-bezier(0.01, 1.36, 1, 1.74);
        transform: rotate(35deg);


    }

    #item2.visible {

        background: #ffffff;

        border: 0.5px solid #000000;
    }

    #item2.visible #flechaline1 {
        filter: invert(0%);
    }

    /* item3 */
    #item3.visible #flecha2 {
        transition: transform 1s;
        transition-timing-function: cubic-bezier(0.01, 1.36, 1, 1.74);
        transform: rotate(35deg);


    }

    #item3.visible {

        background: #ffffff;

        border: 0.5px solid #000000;
    }

    #item3.visible #flechaline2 {
        filter: invert(0%);
    }

    /* item4 */
    #item4.visible #flecha3 {
        transition: transform 1s;
        transition-timing-function: cubic-bezier(0.01, 1.36, 1, 1.74);
        transform: rotate(35deg);

    }

    #item4.visible {

        background: #ffffff;

        border: 0.5px solid #000000;
    }

    #item4.visible #flechaline3 {
        filter: invert(0%);
    }


    .cursor {
        display: none;
    }

    .gridproyectos {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        gap: 1em;

    }

    .cardproyectos {
        width: 100%;
    }

    .img2 {
        width: 100%;
    }
}

@media (max-width: 750px) {
    .imgbanner {
        margin-top: 0em;
        padding-top: 0em;
    }

    .contactame__banner {
        background: #6B00D7;
        padding-bottom: 0em;
        filter: invert(0%);
    }

    .conten__banner0 {
        flex-direction: column;
        align-items: center;
    }

    .banner0 {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding-left: 2em;
        padding-right: 2em;
        background-size: 500% 100%;

    }

    .banner__banner_conten {
        padding-top: 0;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 13px;
        text-align: center;

    }

    .banner__banner {
        font-weight: 600;
        font-size: 28px;
        line-height: 41px;
        padding-top: 2em;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .cabetitulo1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 10px;
        direction: rtl;

    }

    .subtituloitem2 {
        display: none;
    }

    .subtituloitem1 {
        display: contents;
    }

    .cabe2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .cabe1 {
        grid-area: 2 / 1 / 3 / 3;
    }

    .gridproyectos {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 1em;
    }

    .home1 h1 {
        padding-bottom: 10px;
        line-height: 140%;
    }

    .cardproyectos {
        width: 100%;
    }

    .img2 {
        width: 100%;
    }

    .listchips {

        display: grid;
        justify-content: start;
        grid-template-columns: max-content max-content max-content max-content;
    }

    .chips {
        display: grid;
        text-align: center;
    }
}

@media (max-width: 510px) {

    .hacer1-cont2 {
        background-image: url("../assets/img/backstrella.svg");
        background-repeat: no-repeat;
        background-position: 100px 10px;
        animation-name: star;

    }

    .gridproyectos {
        display: grid;
        grid-template-columns: 100%;
        gap: 1em;
    }

    .listchips {

        display: grid;
        justify-content: start;
        grid-template-columns: max-content max-content max-content;
    }


    .cardproyectos {
        width: 100%;
    }

    .img2 {
        width: 100%;
    }

    .titulocard {
        font-size: 18px;
    }
}

p {
    margin-bottom: 0;
}

.cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 50%;
    border: 1px solid #adadad;
    transition: transform .3s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 1000;
}

.grow,
.grow-small {
    transform: scale(10);
    background: #fff;
    mix-blend-mode: difference;
    border: none;
}

.grow-small {
    transform: scale(2.5);
}

@keyframes pr2 {
    to {
        background-position: -9000px;
    }
}

@keyframes pr {
    to {
        background-position: -2000px;
    }
}



